<div class="top-banner">
  <img src="assets/images/ban-1544423061358.jpg">
</div>
<div class="container">
  <div class="columns">

    <div class="column is-9">

      <div class="columns is-multiline">
        <div class="column is-6" *ngFor="let card of imageCards">
          <div class="image-card h-5by25" style="background:url('{{imgPath+card.image}}')">
            <div class="card-box">
              <div class="top-tag">{{card.topTag}}</div>
              <div class="bottom-tagline">
                {{card.bottomTagline}}
              </div>
            </div>
          </div>
        </div>
        <div class="column is-12">
          <div class="image-card h-5by25" style="background:url('assets/images/india_t.jpg')">
            <div class="card-box">
              <div class="top-tag">SURPRIZE Me</div>
              <div class="bottom-tagline">
                8 Secret Place to Explore in Thailand
              </div>
            </div>
          </div>
        </div>
        <div class="column is-6" *ngFor="let card of imageCards">
            <div class="image-card h-5by25" style="background:url('{{imgPath+card.image}}')">
              <div class="card-box">
                <div class="top-tag">{{card.topTag}}</div>
                <div class="bottom-tagline">
                  {{card.bottomTagline}}
                </div>
              </div>
            </div>
          </div>
          <div class="column is-6" *ngFor="let card of imageCards">
              <div class="image-card h-5by25" style="background:url('{{imgPath+card.image}}')">
                <div class="card-box">
                  <div class="top-tag">{{card.topTag}}</div>
                  <div class="bottom-tagline">
                    {{card.bottomTagline}}
                  </div>
                </div>
              </div>
            </div>



      </div>
    </div>
    <div class="column is-3">

      <div class="field">
        <div class="control">
          <input type="search" class="input">
        </div>
      </div>

    </div>
  </div>
</div>