<footer class="footer">
  <div class="container has-text-centered">
    <div class="columns">
      <div class="column">
        <h4>Test heading</h4>
        <ul>
          <li>tefdsf </li>
          <li>ffds </li>
          <li>ffds </li>
          <li>ffds </li>
          <li>ffds </li>
        </ul>
      </div>
      <div class="column">
        <h4>Test heading</h4>
        <ul>
          <li>tefdsf </li>
          <li>ffds </li>
          <li>ffds </li>
          <li>ffds </li>
          <li>ffds </li>
        </ul>
      </div>
      <div class="column">
        <h4>Test heading</h4>
        <ul>
          <li>tefdsf </li>
          <li>ffds </li>
          <li>ffds </li>
          <li>ffds </li>
          <li>ffds </li>
        </ul>
      </div>
      <div class="column">
        <h4>Test heading</h4>
        <ul>
          <li>tefdsf </li>
          <li>ffds </li>
          <li>ffds </li>
          <li>ffds </li>
          <li>ffds </li>
        </ul>
      </div>
    </div>
    <div class="copyright">
        <p>
           copyright &copy; 2019 all right reserved.
          </p>
    </div>
  </div>
</footer>
