<div>

    <div class="field">
      <div class="control">
        <input type="search" class="input">
      </div>
    </div>

    <div class="card wts-card">
      <div class="card-header">
        <div class="card-header-title">
          Test is message
        </div>
      </div>
      <div class="card-content">
        <ul>
          <li>fds test(12)</li>
          <li>fds test(12)</li>
          <li>fds test(12)</li>
          <li>fds test(12)</li>
        </ul>
      </div>
    </div>

    <div class="card wts-card mt-xl">
      <div class="card-header">
        <div class="card-header-title">
          Test is message
        </div>
      </div>
      <div class="card-content">
        <div class="post-card" *ngFor="let item of two">
          <h4 class="title is-6">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit
          </h4>
          <figure class="image is-236x148">
            <img src="https://via.placeholder.com/236x148.png">
          </figure>
        </div>
      </div>
    </div>
    <div class="card wts-card mt-xl">
      <div class="card-header">
        <div class="card-header-title">
          Test is message
        </div>
      </div>
      <div class="card-content">
        <div class="post-card" *ngFor="let item of three">
          <h4 class="title is-6">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit
          </h4>
          <figure class="image is-236x148">
            <img src="https://via.placeholder.com/236x148.png">
          </figure>
        </div>
      </div>
    </div>
    <div class="card wts-card mt-xl">
        <div class="card-header">
            <div class="card-header-title">
              Test is message
            </div>
          </div>
          <div class="card-content mt-l">
      <div class="field">
        <div class="control"><input placeholder="Test on fdslk" type="text" class="input"></div>
      </div>
      <div class="field">
        <div class="control"><input placeholder="Test on fdslk" type="text" class="input"></div>
      </div>
      <div class="field">
        <div class="control"><input placeholder="Test on fdslk" type="text" class="input"></div>
      </div>
     
      <div class="field is-centered">
        <button class="button is-primary">Subscribe</button>
      </div>
      </div>
    </div>
  </div>