.floating-menu-panel {
    position: fixed;
    left:0;
    top:3rem;
    ul  li {
        background: #252222;
        color: #5f5d5d;
        /* border: 1px dotted; */
        cursor: pointer;
        padding: 5px 5px;
        font-size: .8rem;
    }
}

.editor-row {
    position: relative;
    .delete {
        position: absolute;
        right: 74px;
        top: 20px;
    }
}